* {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, deepskyblue, white,deepskyblue);
}
.btnKare {
    font-size: 15px;
    font-weight: bold;
    width: 40px !important;
    height: 40px !important;
}
input,textarea {
    border-radius : 4px;
    font-size:20px;
}
.navigatorTable {
    width: 100%;
}
.navigatorTable tr td:hover {
        text-decoration: underline;
        border-radius: 10px;
    }
a {
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.header {
    width: 800px;
    height: 150px;
    margin-left: 20%;
    margin-top: 10px;
    background-color: antiquewhite;
    border-radius: 15px;
}

.navigator {
    margin-left: 20%;
    width: 800px;
    height: 30px;
    background-color: aliceblue;
    margin-top: 5px;
    border-radius: 10px;
}
.container {
    width: 800px;
    height: 250px;
    margin-left: 20%;
}

.menus {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
}

.kategoriBaslik {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    text-decoration: underline;
}
.kategoriLabel {
    text-decoration: none;
    font-size: 20px;
}
.kategoriLabel:hover {
    text-decoration:underline;
}
.kategoriEkleStyle {
    float:left;
}
.content {
    margin-top: 10px;
    float: left;
    margin: 10px 5px;
    height: auto;
    width: 590px;
    background-color: lightskyblue;
    padding: 10px 20px;
    border-radius: 15px;
}
table tr td {
    text-align: center;
}
.AnaSayfaItem {
    margin: 0px 0px;

}
.anasayfaTable {
    padding-right: 30px;
    padding-left: 10px;
    width: 565px;
}
.TarifOnerLabel,.YorumYapLabel,.iletisimLabel {
    float: left;
    margin-left: 15%;
    font-size: 20px;
}
.tarifOnerTable {
    width: 591px;
}
.yemekDetayTable, .IletisimTable, hakkimizdaTable {
    width: 580px;
}
.yemekClassLabel {
    width: 556px;
}

.yemekClass {
    width: 538px;
}
.bosluk {
    width: 538px;
    height: 24px;
}
.YorumPanelBaslik, .mesajBaslik, .anaSayfaBaslik,.gununYemegiBaslik,.HakkimizdaBaslik {
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
}
.btn {
    font-size:20px;
    font-weight:bold;
    width:150px;
    height:40px;
}
.HakkimizdaIcerik {
    padding:0px 15px;
}
.tableGenis {
    width:589px;
}
.tableUzunluk {
    width: 559px;
}
.sagaYasla {
    float: right;
}
.solaYasla {
    float: left;
    padding-left: 50px;
}
